:root {

}

* {
    box-sizing: border-box;
   
}

body {
    background-color: rgb(231, 230, 230);
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/nightlights.webp");
    background-size: cover;
    background-position: center;
}