:root {
    --grey: rgb(58, 56, 56);
    --offred:  indianred;
}

* {
    box-sizing: border-box;
   
}

body {
    background-color: rgb(250, 248, 248);
}

.contact, .about-me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

section > h2{
    flex: 0 0 20%;
}

section > p {
    flex: 0 0 75%;
}
 
#hero {
    text-align: end;
    width: 100%;
    color: var(--offred);
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/nightlights.webp");
    background-size: cover;
    background-position: center;
}
.about-me{
    float: right;
}

.about-me > p {

    border:2px solid var(--offred);
}
.header {
    background-color: var(--grey); 
    display: flex;
}


h1 {
    background-color: var(--offred);
    justify-content: flex-end;
    width: 400px;
    color: var(--grey);
    text-align: end;
}

.headerlinks {
    text-align: end;
    width: 100%;
    font-weight: bold;
    color: var(--offred);
    font-size: 25px;
    height: 60px;
    line-height: 80px;
    margin-right: 15px;
}

#about-me-sec {
    text-align: center;
    margin-bottom: 30px;
}

#about-me ,
#work,
#contact,
#resume {
    color: var(--offred);
    margin: 5px;
    
}

h2 {
    padding-right: 30px;
}


p {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.work {
    
    width:100%;
    margin:0 auto;
}


.work2 {
    margin-top: 250px;
    float: right;
    text-align: right;
}


.contact {
    margin: 50px 0;
    text-align: center;
    
}

div {
    /* margin-left: 100px; */
    line-height: 6;
    font-size: 23px;

}
#contact-sec {
    border: 2px solid;
    }

#contact-aside {
    text-align: center;
    border: 2px solid var(--offred);
    line-height: 4;
    margin-left: 20px;
    margin-top: 8px;
}

#phone,
#email,
#github,
#twitter,
#linkedin {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: var(--offred);
   
}


footer {
    
    margin-top: 0;
    bottom: 0;
    text-align: center;
    
}

@media screen and (max-width:922px) {
    h1 {
        background-color: var(--offred);
        justify-content: unset;
        width: 234px;
        color: var(--grey);
        text-align: end;
        }

    #about-me, #work, #contact, #resume {
        color: var(--offred);
        margin: 0;
        }
    

    p   {
        flex-wrap: wrap;
        display: flex;
        justify-content: unset;
        margin: 0;
        flex-direction: column;
        align-items: unset;
       
        display: inline-block;
        }


        #contact-aside {
            text-align: -webkit-center;
            border: 2px solid var(--offred);
            line-height: 3;
            margin-left: 20;
            display: inline-table;
            padding: 10px;
            }

        div {
            margin-left: -51px;
            line-height: 2;
            font-size: 23px;
            }



    

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}